@using LexiconLMS.Models
@using LexiconLMS.Data
@page "/Models/Course"
@rendermode InteractiveServer
@inject ApplicationDbContext Dbcontext
@inject HttpClient Http
@inject IHttpClientFactory HttpClientFactory

<thead>
    <tr>
        <th>Course Id</th>
        <th>Course Name</th>
        <th>Course Description</th>
        <th>Start Date</th>
    </tr>
</thead>
<tbody>
    @if (courses != null)
    {
        
    @foreach (var course in courses)
    {
        <tr>
            <td>@course.CourseId</td>
            <td>@course.CourseName</td>
            <td>@course.CourseDescription</td>
            <td>@course.StartDate</td>
        </tr>
    }
    }
</tbody>

@code {
    private List<Course> courses;

    protected override async Task OnInitializedAsync()
    {
        var client = HttpClientFactory.CreateClient("ApiClient");
        courses = await client.GetFromJsonAsync<List<Course>>("/api/Courses");
    }
}
